.logo-title {

    align-self: left;
    justify-self: left;

}


.logo-cart {
    scale: 0.5;
    
}

.logo-search{
    filter: invert(1);
    scale:0.4
}

.logo-cart:hover{
    filter: opacity(0.5);
}

.logo-basket {
    scale: 0.5;
    z-index: 10;
}



.header {
    background-color: #ACB3F2;
    height: 5rem;
    
}

.panier-container:hover{
    color: grey;
    filter: opacity(0.5)
    
}

.badge-basket{
    top: 20px;
    right: 20px;
    z-index: 10;
    width: 20px;
    height: 20px;
}